<?php
/**
 * Configuração geral
 */

// Caminho para a raiz
define('ABSPATH', dirname(__FILE__));

// Caminho para a pasta de uploads
define('UP_ABSPATH', ABSPATH . '/views/_uploads');

// URL da home
define('HOME_URI', 'http://localhost/patp5');

// Nome do host da base de dados
define('HOSTNAME', 'hostname');

// Nome do DB
define('DB_NAME', 'dbname');

// Usuário do DB
define('DB_USER', 'dbuser');

// Senha do DB
define('DB_PASSWORD', 'dbpass');

// Charset da conexão PDO
define('DB_CHARSET', 'utf8mb4');

// Se você estiver desenvolvendo, modifique o valor para true
define('DEBUG', true);

// Define a timezone de São Paulo
define('TIMEZONE', 'America/Sao_Paulo');

/**
 * Não edite daqui em diante
 */

// Carrega o loader, que vai carregar a aplicação inteira
require_once ABSPATH . '/loader.php';